<h2 class="text-center margin-auto">List of rewards</h2>

<ul class="list-rewards">
  <%= for given <- assigns.given_points do %>
    <li>
      <%= given.user.email %>
      received
      <%= given.given %>
      points from
      <%= given.user_points.user.email %>
      <%= if assigns.cancellable do %>
        -
        <%= link("Cancel", to: Routes.given_points_path(@conn, :cancel, given.id), method: :delete) %>
      <% end %>
    </li>
  <% end %>
</ul>
