<div class="index-container">
  <h1 class="text-center margin-auto">GoodDeeds</h1>
  <p class="margin-auto">
    Website for your good deeds. Every person gets pool of points once a week,
    then everyone can reward everyone with points for they good deeds.
  </p>
</div>
