<div class="points-container">
  <div class="points-block">
    <h4>Your Pool</h4>
    <p><%= assigns.user_with_points.points.pool %></p>
  </div>
  <div class="points-block">
    <h4>Your Points</h4>
    <p><%= assigns.user_with_points.points.points %></p>
  </div>
</div>

<div class="given-container">
  <h4>History of given points</h4>
  <ul>
    <li>10 points to elo@melo.com</li>
    <li>20 points to jacek@email.com</li>
  </ul>
</div>
