<div class="points-container">
  <div class="points-block">
    <h4>Your Pool</h4>
    <p><%= assigns.points.pool %></p>
  </div>
  <div class="points-block">
    <h4>Your Points</h4>
    <p><%= assigns.points.points %></p>
  </div>
</div>

<div class="given-container">
  <h4>History of given points</h4>
  <ul>
    <%= for given <- assigns.points.given_points do %>
      <li><%= given.given %> points to <%= given.user.email %></li>
    <% end %>
  </ul>
</div>
