<div class="points-container">
  <div class="points-block points-block--pool">
    <h4>Your Pool</h4>
    <p><%= assigns.points.pool %></p>
  </div>
  <div class="points-block points-block--points">
    <h4>Your Points</h4>
    <p><%= assigns.points.points %></p>
  </div>
</div>
