@import url("./nav.css");
@import url("./btn.css");
@import url("./error.css");
@import url("./register.css");

.container {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.margin-auto {
  margin: auto;
}
