@import url("./nav.css");
@import url("./btn.css");
@import url("./error.css");
@import url("./info.css");
@import url("./alert.css");
@import url("./form.css");
@import url("./points.css");
@import url("./admin.css");

.container {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.margin-auto {
  margin-inline: auto;
}

.logo a {
  margin: 0;
  padding: 0;
}

.logo img {
  aspect-ratio: 1;
  width: 55px;
}

a:visited {
  color: var(--link);
}

.index-container {
  padding: 1rem;
}

.index-container p {
  text-align: justify;
  padding: 1rem;
}
