@import url("./nav.css");
@import url("./btn.css");
@import url("./error.css");
@import url("./info.css");
@import url("./alert.css");
@import url("./auth.css");
@import url("./points.css");

.container {
  width: min(100% - 2rem, 50rem);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.margin-auto {
  margin: auto;
}

.logo {
  font-size: var(--font-size-fluid-1);
}

a:visited {
  color: var(--link);
}
