form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-2);
}

form .btn__submit {
  width: max(50%, 100px);
  margin-top: var(--size-2);
  align-self: center;
}

form .header {
  padding-top: var(--size-2);
  font-size: var(--font-size-fluid-2);
}

form .subheader {
  padding-top: var(--size-2);
  font-size: var(--font-size-fluid-1);
}
