header {
  position: sticky;
  top: 0px;

  width: 100%;
  padding-block: var(--size-2);

  background: var(--surface-2);
  box-shadow: var(--shadow-2);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: var(--size-2);
}

header ul > li {
  white-space: nowrap;
}

.nav-container p {
  text-align: right;
}
