.points-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  padding: var(--size-3);
}

.points-block {
  flex: 1 0 48%;
  padding: var(--size-3);
  background: var(--surface-3);
  box-shadow: var(--shadow-2);
  text-align: center;
}

.points-block p {
  font-size: var(--font-size-4);
}

.given-container {
  background: var(--surface-3);
  margin-inline: var(--size-3);
  box-shadow: var(--shadow-2);
}

.given-container h4 {
  margin: auto;
  text-align: center;
  padding: var(--size-2);
}

.given-container ul {
  padding: 0;
  list-style: none;
}

.given-container li {
  margin: auto;
  text-align: center;
  padding: var(--size-2);
}
