<%= if info = get_flash(@conn, :info) do %>
  <p class="info-block" role="alert"><%= info %></p>
<% end %>

<%= if alert = get_flash(@conn, :error) do %>
  <p class="alert-block" role="alert"><%= alert %></p>
<% end %>

<%= @inner_content %>
