<%= if info = get_flash(@conn, :info) do %>
  <p class="info-block text-center margin-auto" role="alert"><%= info %></p>
<% end %>

<%= if alert = get_flash(@conn, :error) do %>
  <p class="alert-block text-center margin-auto" role="alert"><%= alert %></p>
<% end %>

<%= @inner_content %>
